<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <link th:href="@{/styles/gallery.css}" rel="stylesheet" />
</head>
<body>
<nav>
    <ul>
        <li><a href="/">Submit Image</a></li>
    </ul>
</nav>
<div class="container">
    <h1>Gallery</h1>
    <div class="gallery">
        <!-- Iterate over each image data and display its corresponding information -->
        <div th:each="imageData : ${images}">
            <a th:href="@{/images/{checksum}(checksum=${imageData.getChecksum()})}">
                <div class="gallery-item">
                    <img th:src="${imageData.getUrl()}" th:alt="Image">
                    <div class="overlay">
                        <div class="text" th:text="'View Image Information'"></div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="pagination">
        <ul>
            <li th:class="${currentPage == 1 ? 'disabled' : ''}">
                <a th:with="(prevPage=${currentPage - 1})" th:href="@{/images(pages=${prevPage})}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li th:each="page : ${#numbers.sequence(1, totalPages)}"
                th:class="${page == currentPage} ? 'active' : ''">
                <a th:href="@{/images?pages=__${page}__}" th:text="${page}"></a>
            </li>
            <li th:class="${currentPage == totalPages ? 'disabled' : ''}">
                <a th:with="(nextPage=${currentPage + 1})" th:href="@{/images(pages=${nextPage})}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>