<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Details</title>
    <link th:href="@{/styles/submission.css}" rel="stylesheet" />
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/">Submit Image</a></li>
            <li><a href="/images">Gallery</a></li>
        </ul>
    </nav>
</header>
<main>
    <div class="container">
        <h1>Image Details</h1>
        <div class="image-info">
            <img th:src="${imageData.getUrl()}" alt="Image">
            <ul>
                <li>URL: [[${imageData.getUrl()}]]</li>
                <li>Width: [[${imageData.getWidth()}]]px</li>
                <li>Height: [[${imageData.getHeight()}]]px</li>
                <li>Uploaded at: [[${imageData.getUploadedAt()}]]</li>
            </ul>
        </div>
        <h2>Tags</h2>
        <div class="tags">
            <ul>
                <li th:each="tag : ${imageData.getTagMap()}">
                    <span th:text="${tag.key}"></span>:
                    <span th:text="${#numbers.formatDecimal(
                    tag.value, 2, 2)}"></span>%
                </li>
            </ul>
        </div>
    </div>
</main>
</body>
</html>