body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: #333;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    float: right;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

.container {
    padding: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px;
    padding: 10px;
}

.gallery-item {
    position: relative;
    width: 100%
}

.gallery-item img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0,0,0,0.5);
}

.gallery-item:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.pagination {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


.pagination ul {
    list-style-type: none;
    padding: 0;
}


.pagination li {
    display: inline-block;
    margin-right: 10px;
}


.pagination li a {
    display: inline-block;
    padding: 8px 12px;
    text-decoration: none;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    color: #495057;
}


.pagination li.active a {
    background-color: #007bff;
    border-color: #007bff;
    color: #ffffff;
}


.pagination li a:hover {
    background-color: #dee2e6;
}

.pagination li.disabled a {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
}