body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    height: 50px;
}

nav {
    max-width: 1200px;
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: right;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.container {
    margin: 50px;
}

.image-info img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 5px;
}

.image-info ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

.image-info ul li {
    margin-bottom: 10px;
}

.tags h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.tags ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tags ul li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: #f1f1f1;
    border-radius: 10px;
    position: relative;
}

.tags ul li .confidence {
    position: absolute;
    visibility: hidden;
    background-color: white;
    color: black;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 12px;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
    z-index: 1;
}

.tags ul li:hover .confidence {
    visibility: visible;
}